{% extends "base.html.twig" %}

{% block body %}
    <form method="post">
        <h3>Selectionnez ou créez une categorie</h3>
            <input type="text" name="libelle" placeholder="label">
            <input type "text" name"icone" placeholder="icone"  >
         <input type="submit" value="Enregistrer les modifications">
        </div>
    </form>


{% endblock %}
